
    <div class="container-fluid">
      <div class="row-fluid">
        <?php require('sidebar.php'); ?>
        <div class="span9"><!-- Display Books List -->
          <div class="stickie-books">
            <ul>
              <% @books.each do |book| %>
              <li> <a href="<%=book_path(book.id)%>"><img src="<%=book_image(book)%>"  alt="book image"><span class="distance"><%=book_city(book)%></span></a></li>

              <% end %>
             <!-- <li> <a href="book.php"><img src="img/1.jpg"  alt="book image"><span class="distance">Distance:5km</span></a></li>
             <li> <a href="book.php"><img src="img/book.jpg"  alt="book image"><span class="distance">Distance:5km</span></a></li>
             <li> <a href="book.php"><img src="img/book.jpg"  alt="book image"><span class="distance">Distance:5km</span></a></li>
             <li> <a href="book.php"><img src="img/book.jpg"  alt="book image"><span class="distance">Distance:5km</span></a></li>
             <li> <a href="book.php"><img src="img/book.jpg"  alt="book image"><span class="distance">Distance:5km</span></a></li> -->
            </ul>
          </div>
           <%= paginate @books %>
        </div><!--/span-->
           
      </div><!--/row-->

