<h2>Notification </h2>
<% @notifications.each do |notification| %> 
   <% next if notification.new_record? %>
   <h4><%= notification.message %></h4>
   <p>By<%=get_notify_sender_email(notification)%></p>
<% end %>

<%= render partial: "message_form", locals: {notification: @notification, barter: @barter}%>





