<h2>Notification</h2>

<% @user_notifications.try(:each) do |notification| %>
    <p><%=link_to get_notification_message(notification, 17)+" by "+get_notify_sender_email(notification), new_barter_notification_path(notification.barter_id)%><p>
<% end %>


<h2>Barter Notification History For Bartered Books</h2>
<% @barter_notifications.try(:each) do |barter| %>
   
   <p><%=link_to get_barter_book_name(barter), new_barter_notification_path(barter.id)%><p>

<% end %>