 <div class="sapn9">
          <br>
            <div class="row-fluid">
              
                <div class="span3">
                  <div class="book-profile">
                    <img src="" alt="user profile image">
                  </div>
                </div>
              
                <div class="sapn9">

                  <div class="book-attributes">
                    <ul>
                      <li id="name"><%=@user.first_name%></li>
                      <li id="author"><%=@user.last_name%></li>
                      <li id="desc" >
                        <span rel="tooltip" >Description</span>
                      <p><%=@user.description%>
                         </p>
                      </li>
                      <li id="isbn"><%=@user.email%></li>
                    </ul>
                  </div>
                </div>
              </div>
       
            
          </div>



