<div id="footer">

<center>
<span class="credit">

<a href="/collaborate">Collaborate</a>&nbsp;&nbsp;
<a href="http://blog.barter.li">Blog </a>&nbsp;&nbsp;
<a href="http://www.flickr.com/photos/simthom/3247109081/sizes/o/in/photostream/">Credits </a>
</span>
</center>

</div>