
 <% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "public/welcome" %>
<% end %>
<div class="collaborate-content">
This initiative is to free knowledge and everyone can collaborate. Feel free to write us on how you would like to contribute: <a href="mailto:joinus@barter.li?Subject=Collaborate" target="_top">
joinus@barter.li</a>
</div>

<%= render "welcome_footer"%>
