 <% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "public/welcome" %>
<% end %>
 

 <div class="email-container">

 
 <%= form_for @register, url: :register_email,  html: {class: "form-wrapper cf"} do |f| %>
  <% flash.each do |k, v| %>
    <div class="msg" id="<%= k %>"><%= v %></div>
 <% end %>
        <input type="text" placeholder="join the band!" required name="register[email]">
        <button type="submit">Submit</button>
<% end %>

</div>


<div id="footer">

<span class="credit">

<a href="/careers">Careers </a>&nbsp;&nbsp;
<a href="http://blog.barter.li">Blog </a>&nbsp;&nbsp;
<a href="http://www.flickr.com/photos/simthom/3247109081/sizes/o/in/photostream/">Photo credit flicker </a>
</span>

</div>
